doctype html
html
  head
    meta(charset='utf-8')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='yes', name='apple-touch-fullscreen')
    meta(content='telephone=no,email=no', name='format-detection')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no')
    meta(name='keywords', content='')
    meta(name='description', content='')
    title 2015 Osports全新升级
    script(src="../bower_components/PACE/pace.min.js")
    script(src="../bower_components/viewport-units-buggyfill/viewport-units-buggyfill.min.js")
    script.
      window.viewportUnitsBuggyfill.init();
    link(rel='stylesheet', type='text/css', href='../css/main.css?_=2')
  body

    .cover: img(src="../img/cover.jpg")
    .none: img(src="../img/logo-b.png")

    #wrap

      //- p1
      .page#p1
        .logo.animated
          .logo-ost1.animated.hide
            .logo-o.animated: img(src="../img/logo-o.png")
            .logo-s.animated: img(src="../img/logo-s.png")
            .logo-t1.animated: img(src="../img/logo-t1.png")
            .logo-t2.animated: img(src="../img/logo-t2.png")
          - for(var i=3;i<=6;i++)
            div(class="logo-t#{i} animated hide"): img(src="../img/logo-t#{i}.png")
          .line.animated.hide
        .txt1.animated.hide: img(src="../img/txt1.png")
        .ball.hide.animated: img(src="../img/ball1.png")
        .btn.animated.hide: img(src="../img/btn1.png")

      //- p2
      .page#p2
        .tit.animated.hide: img(src="../img/txt2.png")
        .map.animated.hide#map-10-china
        .num1.animated
          .num.animated.hide: span.none 1234567890,+
          .txt.animated.hide 分社
        .num2.animated
          .num.animated.hide: span.none 1234567890,+
          .plus.animated.hide +
          .txt.animated.hide 摄影师
        .people.animated
          - for(var i=1;i<=8;i++)
            span.animated.hide: img(src="../img/o1.png")

      //- p3
      .page#p3
        .tit.hide.animated: img(src="../img/txt5.png")
        .map.hide.magictime#map-world
        .num1.animated
          .num.hide.animated: span.none 1234567890,+
          .txt.hide.animated 国家
        .num2.animated
          .num.hide.animated: span.none 1234567890,+
          .txt.hide.animated 合作伙伴
        .num3.animated
          .num.hide.animated: span.none 1234567890,+
          .txt.hide.animated 体育图片
          .arrow.hide: img(src="../img/arrow1.png")
          .num4.hide.animated
            .num.animated: span.none 1234567890，+
            .txt.animated 各类媒体

      //- p4
      .page#p4
        .tit.hide.animated: img(src="../img/txt6.png")
        .cloudCover
        .partnerCloud.hide#partnerCloud
          canvas#partnerCloudCanvas
            ul
              - for(var i=1;i<=14;i++)
                li: a(href="#"): img(src="../img/logo1/#{i}.png")

      //- p5
      .page#p5
        .tit.hide.animated: img(src="../img/txt7.png")
        .cloudCover
        .clientCloud.hide#clientCloud
          canvas#clientCloudCanvas
            ul
              - for(var i=1;i<=27;i++)
                li: a(href="#"): img(src="../img/logo2/#{i}.png")

      //- p6
      .page#p6
        .tit.hide.animated: img(src="../img/txt8.png")
        .tit-sub.hide.animated: img(src="../img/txt9.png")
        .gallery
          - for(var i=1;i<=9;i++)
            .gallery-item.animated.none: a(href="javascript:void(0)" data-pic="../img/photo/#{i}.jpg"): img(src="../img/photo/#{i}-s.jpg")
        .gallery-show.animated.none
          .close &times;
          .gallery-pic
        ul.ilist
          each val,index in ['图片','图表','数据','视频','<em>3D</em>动画','采访']
            li.magictime.hide
              span !{val}
              i: img(src="../img/ico#{index+1}.png")

      //- p7
      .page#p7
        .tit.animated.hide: img(src="../img/txt10.png")
        .tit-sub.animated.hide: img(src="../img/txt11.png")
        .piefont.hide
          .pief1 媒体客户商业客户盗版
          .pief2 85%13%2%
        .pie1#pie1
        .info
          h5.magictime.hide 收入模式
          .brackets
            em.hide {
          p.animated.hide 图片/视频销售<br>服务费<br>侵权赔偿费<br>推广服务费

      //- p8
      .page#p8
        .tit.animated.hide: img(src="../img/txt10.png")
        .tit-sub.animated.hide: img(src="../img/txt13.png")
        .con.magictime.hide: img(src="../img/con1.png")

      //- p9
      .page#p9
        .tit.animated.hide: img(src="../img/txt14.png")
        .con.magictime.hide: img(src="../img/con2.png")

      //- p10
      .page#p10
        .tit.animated.hide: img(src="../img/txt15.png")
        .con
          .blub
            .b1.animated.hide: img(src="../img/blub-1.png")
            .b2.animated.hide: img(src="../img/blub-2.png")
          .tit-sub.animated.hide 体育赛事整合营销
          .txt
            p.animated.hide 赛事组织
            p.animated.hide 商务拓展
            p.animated.hide 赛事活动推广
            p.animated.hide 媒体发布
            p.animated.hide 视觉

      //- p11
      .page#p11
        .tit.animated.hide: img(src="../img/txt17.png")
        .tit-sub.animated.hide: img(src="../img/txt16.png")
        ul.con
          each val,index in ['整合运作','立体营销','整体规划','方案执行']
            li
              span: img.animated.hide(src="../img/rock#{index+1}.png")
              i.animated.hide
              em.animated.hide
              strong.animated.hide #{val}

      //- p12
      .page#p12
        .tit.animated.hide: img(src="../img/txt18.png")
        .pics
          - for(var i=1;i<=5;i++)
            .item.animated.hide: img(src="../img/pic/#{i}.jpg")
        .txt
          p.animated.hide 给热爱运动的人以便利
          p.animated.hide 为想运动的人创造条件
          p.animated.hide 让懒于运动人没有借口

      //- p13
      .page#p13
        .con
          .logo.animated.hide: img(src="../img/logo-l.png")
          .txt
            p.magictime.hide 未来十年
            p.magictime.hide 我们将着力覆盖百万体育参与者
            p.magictime.hide 提供全面体育服务

    script(src="../bower_components/jquery/dist/jquery.min.js")
    script(src="../js/main.min.js?_=2")
    script.
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?aabdb5be496ac39cd5648fd9aced5a6c";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();