doctype html
html
  head
    meta(charset='utf-8')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='yes', name='apple-touch-fullscreen')
    meta(content='telephone=no,email=no', name='format-detection')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no')
    meta(name='keywords', content='')
    meta(name='description', content='')
    title 2015 Osports全新升级
    script(src="../bower_components/PACE/pace.min.js")
    script(src="../bower_components/viewport-units-buggyfill/viewport-units-buggyfill.min.js")
    script.
      window.viewportUnitsBuggyfill.init();
    link(rel='stylesheet', type='text/css', href='../css/main.css?_=5')
  body

    .cover: img(src="../img/cover.jpg")
    .none: img(src="../img/logo-b.png")
    audio.none#music(src="../media/3.mp3" autoplay loop preload)
    .control.on

    #wrap

      //- p1
      .page#p1
        .logo.animated
          .logo-ost1.animated.hide
            .logo-o.animated: img(src="../img/logo-o.png")
            .logo-s.animated: img(src="../img/logo-s.png")
            .logo-t1.animated: img(src="../img/logo-t1.png")
            .logo-t2.animated: img(src="../img/logo-t2.png")
          - for(var i=3;i<=6;i++)
            div(class="logo-t#{i} animated hide"): img(src="../img/logo-t#{i}.png")
          .line.animated.hide
        .txt1.animated.hide: img(src="../img/txt1.png")
        .ball.hide.animated: img(src="../img/ball1.png")
        .btn.animated.hide: img(src="../img/btn1.png")

      //- p2
      .page#p2
        .tit.animated.hide: img(src="../img/txt2.png")
        .map.animated.hide#map-10-china
        .num1.animated
          .num.animated.hide: span.none 1234567890,+
          .txt.animated.hide 分社
        .num2.animated
          .num.animated.hide: span.none 1234567890,+
          .plus.animated.hide +
          .txt.animated.hide 摄影师
        .people.animated
          - for(var i=1;i<=8;i++)
            span.animated.hide: img(src="../img/o1.png")

      //- p3
      .page#p3
        .tit.hide.animated: img(src="../img/txt2.png")
        .map.hide.magictime#map-world
        .num1.animated
          .num.hide.animated: span.none 1234567890,+
          .txt.hide.animated 国家
        .num2.animated
          .num.hide.animated: span.none 1234567890,+
          .txt.hide.animated 合作伙伴
        .num3.animated
          .num.hide.animated: span.none 1234567890,+
          .txt.hide.animated 体育图片

      //- p4
      .page#p4
        .tit.hide.animated: img(src="../img/txt8.png")
        .tit-sub.hide.animated: img(src="../img/txt9.png")
        .gallery
          - for(var i=1;i<=9;i++)
            .gallery-item.animated.none: a(href="javascript:void(0)" data-pic="../img/photo/#{i}.jpg"): img(src="../img/photo/#{i}-s.jpg")
        .gallery-show.animated.none
          .close &times;
          .gallery-pic
        ul.ilist
          each val,index in ['图片','图表','数据','视频','<em>3D</em>动画','采访']
            li.magictime.hide
              span !{val}
              i: img(src="../img/ico#{index+1}.png")

      //- p5
      .page#p5
        .tit.hide.animated: img(src="../img/txt6.png")
        .cloudCover
        .partnerCloud.hide#partnerCloud
          canvas#partnerCloudCanvas
            ul
              - for(var i=1;i<=16;i++)
                li: a(href="#"): img(src="../img/logo1/#{i}.png")

      //- p6
      .page#p6
        .tit.hide.animated: img(src="../img/txt7.png")
        .cloudCover
        .clientCloud.hide#clientCloud
          canvas#clientCloudCanvas
            ul
              - for(var i=1;i<=27;i++)
                li: a(href="#"): img(src="../img/logo2/#{i}.png")

      //- p7
      .page#p7
        .tit.hide.animated: img(src="../img/txt19.png")
        .cloudCover
        .mediaCloud.hide.animated#mediaCloud
          ul
            - for(var i=1;i<=17;i++)
              li: a(href="#"): img(src="../img/logo3/#{i}.png")
          canvas#mediaCloudCanvas
            ul
              li: a(href="#"): img(src="../img/blank.png")

      //- p8
      .page#p8
        .tit.animated.hide: img(src="../img/txt8.png")
        .tit-sub.animated.hide: img(src="../img/txt13.png")
        .piefont.hide
          .pief1 用户内容平台产品内容库信息库应用服务实体产品大数据平台体育服务平台电商平台体育图片体育资讯专业知识装备信息场馆信息体育培训赛事报名明星见面会场馆预定门票预订装备器材特许商品定制图片产品跑步羽毛球足球篮球网球高尔夫
        .pie1#pie1

      //- p9
      .page#p9
        .tit.animated.hide: img(src="../img/txt14.png")
        .con
          dl
            dt.hide
              span
                strong 平台
                em 6+N
            dd
              ul
                each val,index in ['20','21','22','23','24','25']
                  li.hide
                    i: img(src="../img/icon/#{index+1}.png")
                    span.hide: img(src="../img/txt#{val}.png")
          - for(var i=1;i<=7;i++)
            div(class="r#{i} hide")

      //- p10
      .page#p10
        .tit-sub.animated.hide: img(src="../img/txt15.png")
        div.canvasCover
        div.hide.animated#marketingCanvas

      //- p11
      .page#p11
        .tit.animated.hide: img(src="../img/txt18.png")
        .pics
          - for(var i=1;i<=5;i++)
            .item.animated.hide: img(src="../img/pic/#{i}.jpg")
        .txt
          p.animated.hide 给热爱运动的人以便利
          p.animated.hide 为想运动的人创造条件
          p.animated.hide 让懒于运动人没有借口

      //- p12
      .page#p12
        .con
          .logo.animated.hide: img(src="../img/logo-l.png")
          .txt
            p.magictime.hide 未来十年
            p.magictime.hide 我们将着力覆盖百万体育参与者
            p.magictime.hide 提供全面体育服务

    script(src="../bower_components/jquery/dist/jquery.min.js")
    script(src="../js/main.min.js?_=5")
    script.
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?aabdb5be496ac39cd5648fd9aced5a6c";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();